<robot name="PanTiltUnit" version="1.0">
  <joint name="joint_0_actuator" type="revolute">
    <limit lower="-3.14" upper="3.14" effort="100.0" velocity="0.2"/>
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.03"/>
    <parent link="joint_0_stator"/>
    <child link="joint_0_rotor"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>
  <joint name="joint_0_2_link" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.03"/>
    <parent link="joint_0_rotor"/>
    <child link="link_mountingA"/>
  </joint>
  <joint name="link_mountingA_to_rod" type="fixed">
    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.015"/>
    <parent link="link_mountingA"/>
    <child link="link_rod"/>
  </joint>
  <joint name="link_rod_to_mountingB" type="fixed">
    <origin rpy="0.0 -1.57 0.0" xyz="0.015 0.0 0.07000000000000002"/>
    <parent link="link_rod"/>
    <child link="link_mountingB"/>
  </joint>
  <joint name="link_2_joint_1" type="fixed">
    <origin rpy="3.141592653589793 0.0 0.0" xyz="0.0 -1.8369701987210296e-18 -0.03"/>
    <parent link="link_mountingB"/>
    <child link="joint_1_stator"/>
  </joint>
  <joint name="joint_1_actuator" type="revolute">
    <limit lower="-3.14" upper="3.14" effort="100.0" velocity="0.2"/>
    <origin rpy="4.939555058032061e-40 0.0 -6.623507541491743e-36" xyz="0.0 -7.703719777548943e-34 0.029999999999999985"/>
    <parent link="joint_1_stator"/>
    <child link="joint_1_rotor"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>
  <link name="joint_0_stator">
    <visual name="joint_0_stator_visual">
      <material name="stator_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="joint_0_rotor">
    <visual name="joint_0_rotor_visual">
      <material name="rotor_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="link_mountingA">
    <visual name="link_mountingA">
      <material name="link_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="link_rod">
    <visual name="link_rod">
      <material name="link_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.05"/>
      <geometry>
        <cylinder radius="0.03" length="0.1"/>
      </geometry>
    </visual>
  </link>
  <link name="link_mountingB">
    <visual name="link_mountingB">
      <material name="link_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="joint_1_stator">
    <visual name="joint_1_stator_visual">
      <material name="stator_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <link name="joint_1_rotor">
    <visual name="joint_1_rotor_visual">
      <material name="rotor_material"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <geometry>
        <cylinder radius="0.03" length="0.03"/>
      </geometry>
    </visual>
  </link>
  <material name="link_material">
    <color rgba="0.0 1.0 0.0 1.0"/>
  </material>
  <material name="rotor_material">
    <color rgba="0.0 0.0 1.0 1.0"/>
  </material>
  <material name="stator_material">
    <color rgba="1.0 0.0 0.0 1.0"/>
  </material>
</robot>